body {
background: linear-gradient(to right,#eba8ff, #0400ff);
padding: 150px;




}
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
img {
width: 500px;
height: auto;


}

h2 { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.about-me {
    background-color: rgb(179, 148, 236);
}
.button {background-color: rgb(0, 255, 89);}




.image-grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 50px;
}
.image-grid img {
    width: 25;
    height:  auto;
    border: 8px;
}
p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
p {font-size: large;}
a {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
a {font-size: larger;}
h2 {background-color: rgb(152, 160, 246);}
p {color: rgb(0, 8, 152);}
h2 {color: rgb(5, 0, 148);}
a {color: #0007cf;}
li {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

li {font-size: larger;}
li {color: #1200b1;}
h1 {color: #0600c1;}
h1 {background-color: #006aff;}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































